{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}


<h3>Nova Postagem:</h3>

<div class="card">
    <div class="card-body">
        <form action="/admin/postagens/nova" method="POST">
            <label for="titulo">Título:</label>
             <input type="text" id="titulo" name="titulo" placeholder="Título da Postagem" class="form-control" value="{{titulo}}">
            <label for="slug">Slug:</label>
            <input type="text" id="slug" name="slug" placeholder="Slug da Postagem" class="form-control" value="{{slug}}">
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" placeholder="Descrição da Postagem" class="form-control" value="{{descricao}}">
            <label for="consteudo">Conteúdo</label>
            <textarea id="conteudo" name="conteudo" placeholder="Conteúdo da Postagem" class="form-control">{{conteudo}}</textarea>
            <label for="categoria">Categoria:</label>
            <select id="categoria" name="categoria" class="custom-select" value="{{categoria}}">
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
                 <option value="{{categoria}}" selected>{{nomecat}}</option>
            </select>
            <button type="submit" class="btn btn-success mt-3">Criar Postagem</button>
        </form>
    </div>
</div>