<h2>Lista de Categorias: </h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova Categoria</button></a>

{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small><br>
            <small>Data de criação:  {{data}}</small><br>
            <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success mt-3">Editar Categoria</button></a>
            <a href="/admin/categorias/delete/{{_id}}"><button class="btn btn-danger mt-3">Excluir Categoria</button></a>

        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhuma categoria cadastrada!</h4>
{{/each}}
